@import 'variables', 'header', 'utilities', 'mobileMenu';

/**** reset ****/
html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** partners slider **/
.partners {
    padding: 4%;
    display: flex;
    z-index: 2000;

    .partner {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 10px;

        img {
            width: 100%;
            max-width: 110px;
            height: auto;
            filter: grayscale(100%);
            @extend %transition;

            &:hover {
                filter: none;
            }
        }
    }
}

/** services **/ 
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    position: relative;
    @extend %bg-position;
    background-image: url('/assets/bg.jpg');

    /** overlay **/ 
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $dark;
        z-index: -1;
        opacity: .3;
    }

    p {
        padding: 0 30%;
        text-align: center;
    }
}